@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

header{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20% auto 20%;
    background-color: rgb(9, 90, 33);
    color: white;
    text-align: center;
    padding: 2px;
    position: sticky;
    top: 0;
}

.hd1 {
    width: 18px;
    margin-left: 20px;
} 

.msociais {
    text-align: left;
}

.sectionlogo {
    text-align: left;
    background-color: black;
}

#logo {
    width: 100px;
}

#logo2 {
    width: 370px;
    color: #fff;
    position: relative;
}

.menu {
    color: #fff;
    list-style: none;
    font-size: 0.8rem;
    background-color: black;
    text-align: center;
    padding: 13px;
}

.menu li {
    display: inline;
    padding: 10px;
}

.links:visited {
    text-decoration: none;
    color: white;
}

#banner , #merchant  {
    width: 100%;
}

.offer {
    list-style: none;
    display: inline-block;
    margin: 30px;
}

.offer a , .links {
    text-decoration: none;
}

.plink:visited , .testiname {
    color: rgb(16, 148, 236);;
}

.dlink:visited {
   color: black;
}

.description , .price {
    font-family: 'Calistoga', cursive;
    color: rgb(16, 148, 236);
    font-size: 1.4rem ;
}

h1 {
    padding: 50px;
}

.product {
    width: 250px;
    margin: 15px;
}

.pic {
    width: 200px;
    height: 200px;
    margin: 15px;
}

section{
    background-color: white;
    text-align: center;
}

.menu2 , .menu3 {
    list-style: none;
    padding: 25px;
}

.menu2 li , .menu3 li , h3 {
    text-align: left;
    padding: 3px;
}

.botao {
    color: White;
    text-decoration: none;
    background-color: rgb(16, 148, 236);
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 2px;
    text-align: center;
    margin: 0;
}

.botao:hover {
    background-color: black;
}
    
.testimonial {
    list-style: none;
    display: inline-block;
    margin: 30px;
}


.testimonial li , .offer li {
    padding: 6px;
}

.satisfeito {
    border-radius: 50%;
    text-align: center;
}

.base {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto ;
}

.rodape {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto ;
}

.pag {
    height: 30px;
    padding: 4px;
}

.bandeira {
    list-style: none;
}

.bandeira li {
    display: inline;
}

h3{
    color: rgb(16, 148, 236);
    padding-bottom: 10px;
}

footer {
    color: white;
    text-align: center;
}


#whatsapp {
    position: fixed;
    width: 20px;
    bottom: 80px;
    right: 100px;
} 

#guh {
    color: rgb(167, 165, 165);
    align-self: center;
   }

@media screen and (max-width: 420px){
    #frete {
        font-size: 0.8rem;
        align-self: center;
        }

        .sectionlogo{
                text-align: center;
        }

        .menu2 , .menu3 , h3  {
            font-size: 0.9rem;
            
        }

        #guh {
            font-size: 0.7rem;
        }

        #whatsapp {
            width: 15px;
        } 
    
}

@media screen and (max-width: 620px){
    #logo {
        width: 150px;
    }

    .sectionlogo{
        text-align: center;
    }    
    
    .menu li {
        display: block;
        padding: 5px;
        margin: 3px;
        max-width: 150px;
        margin: auto;
    }

    #banner {
        height: 200px;
    }

    .menu2 , .menu3 , .base , #guh , .bandeira {
        display: block;
        margin: auto;
    }

    .menu2 , .menu3 {
        max-width: 230px;
    }

    .rodape {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .pag {
        margin: auto;
    }

    #guh {
        font-size: 0.7rem;
        padding: 10px;
    }

    #email {
        display: none;
    }

    #logo2 {
        width: 260px;
    }

    #whatsapp {
        width: 15px;
    } 
    }  

@media screen and (max-width: 900px){
    #frete {
        align-self: center;
    }
        
    #logo2 {
        width: 150px;
    }

    .sectionlogo{
        text-align: center;
    }   

    ul.menu3 , ul.menu2 , #logo2 {
        padding: 0;
        padding-bottom: 30px;
        padding-top: 30px;
    }

    h1 {
        padding: 20px;
    }

    #email {
        display: none;
    }

    #guh {
        font-size: 0.7rem;
        padding: 10px;
}
}