:root {
  --cor-primaria: #1094ec;
  --cor-secundaria: #19be6c;
  --cor-branca: #fff;
  --cor-fundo-escuro: #040203;    
  --cor-fundo-cinza-escuro: #282828;
  --cor-preto: #000000;    
}
  
:root {
  --fonte-primaria: 'NexaBold', sans serif;
  --fonte-secundaria: 'Poppins', sans serif;
  --fonte-terciaria: 'Times New Roman', sans serif;
  --fonte-gigante: 4.5rem;
  --fonte-extra-grande: 3rem;
  --fonte-grande: 2.4rem;
  --fonte-normal: 1.6rem;
}

:root {
  --mobile-padding: 30px;
}